<div class="bg-dark py-5">
    <div class="container text-white">
        <div class="row">
        <div class="col-md-2"> 
        <ul class="list-inline">
          
          
            <li class="list-inline-item"> <a href="#" class="text-white">Powerbank</a></li>
            <li class="list-inline-item"> <a href="#" class="text-white">Bluetooth Hoparlörler</a></li>
            <li class="list-inline-item"> <a href="#" class="text-white">Şarj Aletleri</a></li>
            <li class="list-inline-item"> <a href="#" class="text-white">Oyuncu Ürünleri</a></li>
            <li class="list-inline-item"> <a href="#" class="text-white">Koruma Kılıfları</a></li>
            <li class="list-inline-item"> <a href="#" class="text-white">Araç Aksesuarları</a></li>
            <li class="list-inline-item"> <a href="#" class="text-white">Tripod ve Çekim Ekipmanları</a></li>
            <li class="list-inline-item"> <a href="#" class="text-white">Data Kabloları</a></li>
            <li class="list-inline-item"> <a href="#" class="text-white">Flash Bellekler</a></li>
            <li class="list-inline-item"> <a href="#" class="text-white">Ekran Koruyucu</a></li>
            <li class="list-inline-item"> <a href="#" class="text-white">Diğer Ürünler</a></li>
        
        </ul>
    </div>
        <div class="col-md-2"> <h5>Hakkımızda</h5>
        <ul class="list-unstyled">
            <li>Hikayemiz</li>
            <li>İletişim</li>
            </ul>
        </div>
        <div class="col-md-2"><h5>Müşteri Hizmetleri</h5>
        <ul class="list-unstyled">
            <li>Arıza Bildirim Formu</li>
            <li>T.Servis Ürün Sorgulama</li>
            <li>Ödeme ve Teslimat</li>
            <li>İptal ve İade Prosedürü</li>
            <li>Üyelik Sözleşmesi</li>
            <li>Mesafeli Satış Sözleşmesi</li>
            <li>Kişisel Verilerin Korunması</li>
            
</ul>
</div>
        <div class="col-md-3"><h5>Müşteri Destek Merkezi</h5>
            
            <img src="/assets/image/arrow-counterclockwise.svg" alt="arrow-counterclockwise" width="32" height="32">
        </div>

        <div class="col-md-3"><h5>Bizden Haberdar Olun</h5>
            <form class="row g-3">
                <div class="col-auto">
                    <label for="exampleFormControlInput1" class="form-label">Lütfen Abone Olun</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                  </div>
        
                <div class="col-auto">
                  <button type="submit" class="btn btn-primary mb-3">Kaydedildi</button>
                </div>
              </form>


    <img src="/assets/image/facebook.svg" alt="facebook" width="32" height="32">
    <img src="/assets/image/instagram.svg" alt="instagram" width="32" height="32">
    <img src="/assets/image/youtube.svg" alt="youtube" width="32" height="32">

        </div>
        
    </div>
    </div>
</div>