<div class="container-fluid">
<div class="row row-cols-1 row-cols-md-2 ">
  <div class="col">
   
      <img src="https://n11scdn.akamaized.net/a1/org/elektronik/kulaklik/razer-hammerhead-pro-v2-mikrofonlu-kulaklik-turkiye-garantili__0574748142518290.jpg" class="card-img-top" alt="..." widht=600>
      
       

   
    
  </div>
  <div class="col">
   
      <img src="http://www.dissacompany.com/uploads/haber/528e0taksitimkani.jpg" class="card-img-top" alt="..." height="200">
     
     
    
    
  </div>
</div>